<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EmergencyInfo" />
        <activity android:name=".Entertainment" />
        <activity android:name=".Gallery" />
        <activity android:name=".Emergency" />
        <activity android:name=".CurrDetection" />
        <activity android:name=".ObjectDetection" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Discover_Devices" />
        <activity android:name=".invisible_button" />
        <activity android:name=".Bluetoooth"/>
        <activity android:name=".First_page">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>